* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
header {
  display: flex;
  background-color: rgb(116, 116, 196);
}
header h1 {
  background-color: aqua;
  color: black;
  height: 90%;
  padding-left: 30px;
}
ul {
  display: flex;
  list-style-type: none;
}
nav {
  margin-left: auto;
}

nav ul a {
  margin: 0 15px;
  border-bottom: 2px solid rgb(196, 212, 214);
  color: aqua;
  text-decoration: none;
}

.hero-banner div {
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
}

.hero-banner div h2 {
  position: absolute;
  top: 170px;
  left: 80%;
  background-color: aqua;
}
.page-wrapper {
  margin-left: 8%;
  margin-right: 8%;
}
#about {
  display: flex;
  margin-top: 20px;
  height: 150px;
}
#about h2, #work h2 {
  border-right: 3px solid black;
  padding-right: 10px;
  margin-right: 40px;
}

#work {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
#work h2 {
  padding-right: 16px;
}
#all_works {
  width: inherit;
}
.portfo_1 {
  width: 100%;
  height: 450px;
  background-image: url(../images/02-portfolio-4.jpg);
  border: 3px solid aqua;
}

.other_ports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfo_2, .portfo_3, .portfo_4, .run_buddy {
  margin-top: 10px;
  width: 49%;
  height: 200px;
  border: 2px solid aqua;
  background-image: url(../images/02-portfolio-1.jpg);
  background-repeat: repeat-x;
}
.portfo_3 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: repeat-x;
}
.portfo_4 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-repeat: repeat;
}
