* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
:root {
  --grayishblue: rgb(71, 184, 196);
}
header {
  display: flex;
  background-color: rgb(33, 33, 35);
  width: inherit;
}
header h1 {
  background-color: var(--grayishblue);
  color: black;
  height: 90%;
  padding-left: 30px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav {
  margin-left: auto;
}

a {
  margin: 0 15px;
  border-bottom: 2px solid var(--grayishblue);
  color: black;
  text-decoration: none;
}
nav ul li {
  color: var(--grayishblue);
}

.hero-banner div {
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  background-size: cover;
}

.hero-banner div h2 {
  position: absolute;
  top: 30%;
  left: 80%;
  background-color: var(--grayishblue);
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto 5%;
}

#about {
  display: flex;
  margin-top: 20px;
  width: inherit;
}
.page-section {
  margin-top: 5%;
}
#about h2, #work h2, #contact h2 {
  border-right: 3px solid black;
  text-align: left;
  width: 20%;
  margin-right: 5px;
  padding-left: 8%;
  flex: 1 0 auto;
}
#about p, #work #all_works, #contact .contact_media {
  width: 85%;
  margin-left: 5%;
}

#work {
  display: flex;
  width: 100%;
}

#all_works {
  width: inherit;
}
.portfo_1 {
  width: 100%;
  height: 450px;
  background-image: url(../images/02-portfolio-4.jpg);
  border: 3px solid var(--grayishblue);
  opacity: 0.7;
}

.other_ports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfo_2, .portfo_3, .portfo_4, .run_buddy {
  margin-top: 10px;
  width: 49%;
  height: 200px;
  border: 2px solid var(--grayishblue);
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  opacity: 0.7;
}
.portfo_3 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: repeat-x;
}
.portfo_4 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-repeat: repeat;
}
.run_buddy {
  background-image: url(../images/02-run-buddy.jpg);
}
#all_works p {
  text-align: center;
  padding: auto;
  width: 105px;
  height: 50px;
  background-color: var(--grayishblue);
  margin-top: 25%;
}
#contact {
  display: flex;
  justify-content: space-between;
}

.contact_media {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
#contact ul {
  width: 100%;
  margin-top: 20px;
}
